@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.logo{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    margin: 0;
    padding: 0;
}
.custom-offcanvas {
  background-color: #f8f9fa;
}

.offcanvas-body {
  padding: 1rem;
}

.profile {
  border: none;
  background-color: transparent;
}

.profile:hover {
  background-color: #1acd81;
}

.profile-icon {
  color: #1acd81;
}

.profile-icon:hover {
  background-color: #1acd81;
  color: white;
}

.nav-link {
  color: #02310c;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #dafede;
  color: #000;
}

.nav-link.text-danger {
  color: #dc3545;
  
}

.nav-link.text-danger:hover {
  background-color: #f8d7da;
  color: #c82333;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  background-color: black;
  border-radius: 50%;
}

.carousel-caption h1,
.carousel-caption p {
  color: black;
}

.content{
  border-radius: 10px;
}

body, html {
  height: 100%;
  width: 100%;
}

.corousal {
  position: relative;
  height: 100vh;
  overflow: hidden;
  top: -3%;
}

.carousel-item-custom img {
  height: 100vh;
  object-fit: cover;
}

.navbar-container {
  position: sticky;
  top: 0%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
}

.profile {
  background: none;
  border: none;
}

.offcanvas-body{
  display: flex;
  flex-direction: column;
}

.offcanvas-body a{
  text-decoration: none;
  padding: 1rem;
  color: #02310c;
  border-bottom: 1px solid #0e8720;
  border-radius: 10px;
  margin: 0.5rem;
}

.offcanvas-body a:hover{
  background-color: #17d032;
}

.cartImage{
  width: 7rem;
  height: 7rem;
}

.cartBtn{
  border: 1px black solid;
  width: 5rem;
}

.cartBtn button{
  background-color: transparent;
  border: none;
}

/* Card Payment */

.cart-payment {
  width: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-table, .total-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cart-table th, .cart-table td, .total-table th, .total-table td {
  padding: 8px;
  text-align: right;
}

.text-end {
  text-align: right;
}

.cartImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}


.cartBtn button {
  width: 30px;
  height: 30px;
}

/* NavBar */
.navbar-container {
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-img {
  width: 50px;
  height: auto;
}

.logo-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.navBar {
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

.nav-link-custom {
  font-size: 1rem;
  transition: background-color 0.3s;
}

.nav-link-custom:hover {
  background-color: #f1f1f1;
}

.profile {
  border: none; 
  background-color: transparent;
}

.profile:hover {
  background-color: #e9ecef;
}


.zoom-effect {
  transition: transform 0.3s ease;
}

.zoom-effect:hover {
  transform: scale(1.05);
}

/* Search Bar */

.searchBar{
  display: flex;
  flex-direction: row;
}

/* COROUSAL BUTTON */

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 60vh;
}

.btn-60,
.btn-60 *,
.btn-60 :after,
.btn-60 :before,
.btn-60:after,
.btn-60:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-60 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-60:disabled {
  cursor: default;
}
.btn-60:-moz-focusring {
  outline: auto;
}
.btn-60 svg {
  display: block;
  vertical-align: middle;
}
.btn-60 [hidden] {
  display: none;
}
.btn-60 {
  background: none;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 1.5rem 4rem;
  position: relative;
  text-transform: uppercase;
}
.btn-60 span {
  background: #fff;
  border: 1px solid;
  border-radius: 999px;
  display: grid;
  inset: 0;
  place-items: center;
  pointer-events: none;
  position: absolute;
}
.btn-60:hover span {
  -webkit-animation: jello 0.8s;
  animation: jello 0.8s;
}
@-webkit-keyframes jello {
  0%,
  11.1%,
  to {
    transform: translateZ(0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
@keyframes jello {
  0%,
  11.1%,
  to {
    transform: translateZ(0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

/* Pagination */
.custom-pagination .page-link {
  color: #1acd81;
}

.custom-pagination .page-item.active .page-link {
  background-color: #1acd81;
  border-color: #1acd81;
}

.custom-pagination .page-link:hover {
  background-color: rgba(26, 205, 129, 0.1);
  border-color: #1acd81;
}

/* Expert */

.experts-thought {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.about-content {
  flex: 1;
  padding-right: 2rem;
}

.about-image {
  flex: 1;
  text-align: right;
}

.about-image img {
  max-width: 100%;
  height: auto;
  width: 500px; /* Adjust the size as needed */
}

.title {
  margin-bottom: 1.5rem;
}

.title h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.title h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.para-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

/* Courousal effect */

.carousel-item-custom {
  position: relative;
}

.carousel-img {
  max-height: 500px;
  object-fit: cover;
}

.parent-container {
  padding: 20px;
  border-radius: 10px;
}

.btn-60 {
  margin-top: 20px;
}

.btn-60 span {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* cook your meal */
.cook-your-meal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;
}

.cook-your-meal-image {
  flex: 1;
  text-align: left;
}

.cook-your-meal-image img {
  max-width: 100%;
  height: auto;
  width: 400px; /* Adjust the size as needed */
  border-radius: 10px;
}

.cook-your-meal-content {
  flex: 1;
  padding-left: 2rem;
}

.title {
  margin-bottom: 1.5rem;
}

.title h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #1fc877;
}

.title h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.para-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
  .cook-your-meal {
    flex-direction: column;
    text-align: center;
  }

  .cook-your-meal-content {
    padding-left: 0;
  }

  .cook-your-meal-image {
    margin-bottom: 2rem;
  }
}

/* track your order */
.track-order-container {
  display: flex;
  align-items: center;
}

.track-order-content {
  flex: 1;
  padding-right: 2rem; /* Adjust spacing between content and image */
}

.track-order-image img {
  max-width: 100%;
  height: auto;
  width: 300px; /* Adjust the image size as needed */
}

.blog-container {
  position: relative;
  overflow: hidden;
  height: 150px; /* Adjust height according to your needs */
  width: 90%;
  border: 1px solid #1aab0e;
  border-start-end-radius: 30px;
  border-end-start-radius: 30px;
  box-shadow: 10px 10px #bffab8;
}

.blog-content {
  display: flex;
  transition: transform 1s ease-in-out;
}

.blog-item {
  min-width: 50%; /* Display two blogs at a time */
  box-sizing: border-box;
  padding: 1rem;
}